@font-face {
  font-family: "Calistoga";
  src: url("assets/Calistoga-Regular.ttf");
}
@font-face {
  font-family: "Cousine";
  src: url("assets/Cousine-Regular.ttf");
}
@font-face {
  font-family: "Cousine";
  src: url("assets/Cousine-Italic.ttf");
  font-style: italic;
}
body{
  width: 400;
  height: 550;
  border: solid black 1px;
  background-color: #F3F1ED;
}
h1, h2, h3, h4{
  font-family: "Calistoga", serif;
  font-weight: normal;
}
p{
  font-family: "Cousine", monospace;
}
#content{
  margin: 10px;
}
.headers{
  text-align: center;
}
#yearHeader{
  margin-top: 0px;
  margin-bottom: 5px;
}
#currentDayHeader{
  margin-bottom: 0px;
}
.moodImage{
  height: 215px;
  width: auto;
  display: block;
  margin: 0px auto;
}
.clear{
  clear: both;
}
#horrible{
  width: 30px;
  height: 30px;
  background-color: #0061A1;
  float: left;
  margin: 5px;
  border-radius: 2px;
}
#horrible:hover p{
  visibility: visible;
}
#bad{
  width: 30px;
  height: 30px;
  background-color: #15A0B0;
  float: left;
  margin: 5px;
  border-radius: 2px;
}
#bad:hover p{
  visibility: visible;
}
#ok{
  width: 30px;
  height: 30px;
  background-color: #58CCAD;
  float: left;
  margin: 5px;
  border-radius: 2px;
}
#ok:hover p{
  visibility: visible;
}
#good{
  width: 30px;
  height: 30px;
  background-color: #62B378;
  float: left;
  margin: 5px;
  border-radius: 2px;
}
#good:hover p{
  visibility: visible;
}
#great{
  width: 30px;
  height: 30px;
  background-color: #9CD97E;
  float: left;
  margin: 5px;
  border-radius: 2px;
}
#great:hover p{
  visibility: visible;
}
#moodButtons{
  display: block;
  margin: 0px auto;
  width: 200px;
  padding: 10px;
}
.moods{
  font-size: 10px;
  margin-top: 36px;
  text-align: center;
  visibility: hidden;
  user-select: none;
}
textarea{
  resize: none;
  border: none;
  background-color: #C6E5B7;
  padding: 10px;
  font-size: 12px;
  border-radius: 2px;
  font-family: "Cousine", monospace;
}
#miniJournal{
  padding-top: 8px;
  display: block;
  width: 280px;
  margin: 0px auto;
}
#expandButton{
  background-color: #58CCAD;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  margin: 3px 5px 0px 0px;
  width: 40px;
  height: 15px;
  padding: 2px;
  float: right;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Cousine", monospace;
}
#journalSubmitButton{
  background-color: #58CCAD;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  margin-top: 3px;
  width: 25px;
  height: 15px;
  padding: 2px;
  float: right;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Cousine", monospace;
}
h4{
  margin-bottom: 1px;
  margin-top: 10px;
  font-size: 13px;
}
#calendarPage{
  display: none;
}
table{
  background-color: yellow;
  border-collapse: collapse;
  width: 380px;
}
td{
  border: 1px solid black;
  width: 12.2px;
  height: 12.2px;
  font-size: 5px;
  background-color: #C6E5B7
}
